@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";



@theme {
  --font-dm-sans: "DM Sans", sans-serif; 
  --font-source-serif-4: "Source Serif 4", serif;
  --color-primary: #14080E; /* Tailwind's blue-800 */
  --color-secondary: #000909; /* Tailwind's blue-600 */
  --color-text-primary: #FFF9EC ; /* Tailwind's gray-900 */
  --color-text-secondary: #FFF9EC;
  --color-accent: #FFD6BA; /* Tailwind's gray-500 */
  --color-highlight: #D52941; 
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;     /* IE/Edge */
    scrollbar-width: none;        /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar { display: none; } /* Chrome/Safari */
}