---
import Layout from "../layouts/Layout.astro"
import NavBar from "../components/Navbar.astro"
---


<Layout>
    <NavBar/>
    <h1>Hi, I am Loc</h1>
    <p>I am currently a sophomore studying at the University of Georgia, US. </p>
</Layout>