---
import { getProjectData, getProjectDataKeys } from '../lib/loaders/project_registry.ts';
import LongProjectCard from '../components/LongProjectCard.astro';
import type { ProjectData } from '../lib/objects/project.ts';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>
    <Navbar/>
    <div>
        {getProjectDataKeys().map((slug) => (
            <LongProjectCard 
                project_data={getProjectData(slug) as ProjectData}/>
        ))}

    </div>
</Layout>
