
<section class="bg-gray-100 shadow-md h-100 w-[calc(100vw)] flex flex-col items-center justify-center p-6 rounded-lg mt-6">
    <h2 class="text-2xl font-bold mb-2">Get in Touch!</h2>
    <p>Email: loc.ba.le0402@gmail.com</p>
    <button class="m-4">
        <a href="mailto:loc.ba.le0402@gmail.com" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition-colors duration-200 m-10">
            Contact Me </a>
    </button>
</section>


