---
import ProjectCard from "./ProjectCard.astro"
import type { ProjectData } from "../lib/objects/project";
import { getProjectData } from "../lib/loaders/project_registry";
import Contact from "./Contact.astro";

console.log(import.meta.env.BASE_URL)
---

<div class="flex items-center justify-center min-h-[calc(100vh-140px)]">
	<!-- Background video -->
  <video
    autoplay
    loop
    muted
    playsinline
    class="fixed inset-0 w-full h-full object-cover"
  >
    <source src={`${import.meta.env.BASE_URL}/videos/background_redo.webm`} type="video/webm" />
  </video>
  <div class="absolute inset-0 bg-black/50"></div>
	<div class="relative z-10 flex flex-col items-center">
		<h1 class="font-bold text-3xl mb-3 font-dm-sans text-white text-shadow-2xs">Loc Le</h1>	
		<p class="w-100 text-center max-w-[calc(80vw)] font-source-serif-4 text-gray-200 text-shadow-2xs">I build interactive systems - from jam-winning games to satellite software.</p>
	</div>

	
	
</div>
<div class="relative z-10 flex flex-col bg-gray-50 dark:bg-gray-900 items-center justify-center pt-3">
	<h1 class="text-white font-bold">Highlight</h1>
	<hr class="border-gray-300 my-4 min-w-100 hidden md:block" />
	<div class="flex flex-wrap gap-20 justify-center p-6 lg:max-w-[calc(80vw)]">
		<ProjectCard 
			project_data={getProjectData("trembling-steppes.json") as ProjectData}
		/>

		<ProjectCard 
			project_data={getProjectData("dragon-of-east.json") as ProjectData}
		/>

		<ProjectCard 
			project_data={getProjectData("restless.json") as ProjectData}
		/>
		
		<ProjectCard 
			project_data={getProjectData("to-see.json") as ProjectData}
		/>

		<ProjectCard 
			project_data={getProjectData("moci-flight-software.json") as ProjectData}
		/>

		<ProjectCard 
			project_data={getProjectData("paint-over.json") as ProjectData}
		/>
		
	</div>
	<button class="m-4 mt-20 mb-20 m-10">
			<a href="/projects" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition-colors duration-200 m-10">
				View All Projects </a>
		</button>
	<Contact />
</div>