---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
		<h1>Loc Le</h1>	
		<p>I program systems - from jam winning to satellite software.</p>
</div>

<style>

</style>
