---
import { getProjectData, getProjectDataKeys } from '../../lib/loaders/project_registry.ts';
import LongProjectCard from '../../components/LongProjectCard.astro';
import type { ProjectData } from '../../lib/objects/project.ts';
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout>
    <Navbar/>
    <div class="flex flex-col max-h-screen h-screen bg-gray-50 dark:bg-gray-800 items-center justify-center pt-10 pb-10">
        <h1 class="text-white font-bold">Pick One to View More!</h1>
        <div>
            
            <a href="projects/games">
                <button class="w-35 text-center m-4 p-4 bg-blue-600 text-white rounded hover:bg-blue-700 transition-colors duration-200">
                    Games
                </button>
            </a>
          
            <button class="w-35 text-center m-4 p-4 bg-blue-600 text-white rounded hover:bg-blue-700 transition-colors duration-200">
                <a href="projects/ssrl">SSRL</a>
            </button>
            <button class="w-35 text-center m-4 p-4 bg-blue-600 text-white rounded hover:bg-blue-700 transition-colors duration-200">
                <a href="projects/other">Tool/Shader</a>
            </button>
        </div>
    </div>
</Layout>
